@media screen and (max-width:992px) {
    .contianer {
        width: 95%;
    }

    .about .brdr {
        border: none;
    }

    .about .about-contact p {
        font-size: 14px;
        color: #555555;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .about .about-contact ul li {
        width: 50%;
        font-size: 14px;
    }

    .about .about-contact ul span {
        font-size: 16px;
    }

    .about .about-contact button {
        padding: 10px 20px;
        font-size: 16px;
        margin-bottom: 50px;
    }


    .Service .cont1 {
        width: 50%;
    }

    .Service .cont2 {
        width: 50%;
    }

    .Service .cont3 {
        width: 50%;
    }

    .Service .cont4 {
        width: 50%;
    }

    .portfolio .part-items .item1 {
        width: 50%;
    }

    .portfolio .part-items .item2 {
        width: 50%;
    }

    .portfolio .part-items .item3 {
        width: 50%;
    }

    .portfolio .part-items .item4 {
        width: 50%;
    }

    .portfolio .part-items .item5 {
        width: 50%;
    }

    .portfolio .part-items .item6 {
        width: 50%;
    }
    .portfolio ul{
        width: 80%;
    }
    .portfolio ul li {
        font-size: 14px;
    }

    .feedback .client-item {
        width: 80%;
    }

    .contact .container-contact {
        width: 80%;
    }

    .about .about-img .img .layer .icons i {
        font-size: 18px;
    }
}


@media screen and (max-width:768px) {
    .contianer {
        width: 85%;
    }

    .nav .nav-items ul {
        opacity: 0;
    }

    .nav .menu {
        width: 30px;
        height: 3px;
        float: right;
        position: relative;
        right: 75px;
        bottom: 25px;
        background-color: white;
    }

    .nav .menu::before {
        content: "";
        width: 30px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        right: 0px;
        background-color: white;
    }

    .nav .menu::after {
        content: "";
        width: 30px;
        height: 3px;
        position: absolute;
        bottom: 10px;
        right: 0px;
        background-color: white;
    }

    .header .header-contact h1 {
        font-size: 55px;
    }

    .header .header-contact h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .header .header-contact h4 {
        font-size: 20px;
    }

    .about .about-img {
        width: 100%;
    }

    .about .about-contact {
        width: 100%;
    }

    .about .about-contact ul li {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
    }

    .about .about-contact ul span {
        font-size: 18px;
        font-weight: 800;
    }

    .Service .cont1 {
        width: 100%;
    }

    .Service .cont2 {
        width: 100%;
    }

    .Service .cont3 {
        width: 100%;
    }

    .Service .cont4 {
        width: 100%;
    }

    .portfolio .part-items .item1 {
        width: 100%;
    }

    .portfolio .part-items .item2 {
        width: 100%;
    }

    .portfolio .part-items .item3 {
        width: 100%;
    }

    .portfolio .part-items .item4 {
        width: 100%;
    }

    .portfolio .part-items .item5 {
        width: 100%;
    }

    .portfolio .part-items .item6 {
        width: 100%;
    }

    .portfolio ul {
        width: 100%;
    }

    .count .count1 {
        width: 100%;
        padding: 20px 0px;
    }

    .count .count2 {
        width: 100%;
        padding: 20px 0px;
    }

    .count .count3 {
        width: 100%;
        padding: 20px 0px;
    }

    .count .count4 {
        width: 100%;
        padding: 20px 0px;
    }

    .feedback .client-item {
        width: 100%;
    }

    .feedback .item-contact {
        width: 100%;
        margin: 0px;
        padding-top: 20px;
    }

    .feedback .item-photo {
        width: 30%;
        float: none;
        margin: auto;
    }

    .blog .inner {
        width: 100%;
    }

    .contact .container-contact {
        width: 90%;
    }

    .contact .contact-item .item1 {
        width: 100%;
        padding-right: 0;
    }

    .contact .contact-item .item2 {
        width: 100%;
        padding-left: 0;
    }
    

}